#sources{
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    border-bottom-color: grey;
border-top-color:grey;
}


#sources>div{
    width: 70%;
    height: 60px;
    border: 1px solid transparent;
    margin-left: -50px;
    display: flex;
    gap: 30px;
    justify-content: center;

   
}


a{
    text-decoration: none;
    color:#282828;
}


a:hover{

    text-decoration: underline;
    color: teal;
    
    }

    *{
        font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }



    #footer-1{
        display: flex;
        gap: 250px;
        width: 100%;
        padding-left: 250px;
        padding-top: 50px;
        margin-bottom: 40px;
    }


  h3{
    font-size: small;
  }

 #footer-2{
    display: flex;
    gap: 30px;
 }


 #footer-2>div:nth-child(1){
    gap: 20px;
    margin-right: 300px;
    margin-left: 80px;
 }

i{
    margin-right: 20px;
    cursor: pointer;
}


select{
    padding: 12px 12px 12px 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    cursor: pointer;
}


select:hover{
    color: green;
    
    border: 1px solid green;
}

#final{
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    border-bottom-color: grey;
border-top-color:grey;
margin-top: 40px;
}


#final>div{
    width: 70%;
    height: 60px;
    border: 1px solid transparent;
    margin-left: 0px;
    display: flex;
    gap: 30px;
    justify-content: center;

   
}
